body {
    background: #cccccc;   
  }
  .titulo-barbearia {
    text-align: center;
    height: 150px;
    border: 10px solid #000000;
    padding-top: 20px;
    margin-left: 15px;
  }
  h2 {
    text-align: center;
  }
  ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
  }
  #banner {
    width: 100%;
  }
  .itens {
    font-style: italic;
  
  }
  .beneficios {
    background: #ffffff;
    padding: 20px;
  }
  .principal {
    background: #cccccc;
    padding: 30px;
  }